
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 45px;
}

.container2 {
  margin-top: 0.2rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.firstContain {
  display: flex;
  justify-content: flex-start;
  margin-top: 1rem;
}
.search-bar {
  height: 50px;
  width: 269px;
  border: 2px solid rgba(0, 0, 0, 0.126);
  margin-left: 2rem;
  padding: 5px;
  border-radius: 0.5rem;
}

.secondContain {
  display: flex;
  justify-content: flex-start;
  margin-top: 1rem;
}
.element {
  margin-right: 1.5rem;
  color: rgba(0, 0, 0, 0.458);
}
.element:hover {
  color: rgba(0, 0, 0, 1);
  cursor: pointer;
}
.lowFooter{
  margin-top: 18rem;
}